
<footer id="footer">
	<!-- top footer -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
					<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">關於我們</h3>
							<p>我們是一家專注禮品的網路商店，提供精美禮物及包裝搭配，為您解決送禮難題，讓每份心意更加完美。</p>
						<ul class="footer-links">
								<li><a href="#"><i class="fa fa-map-marker"></i>台北市復興南路一段390號2樓</a></li>
								<li><a href="#"><i class="fa fa-phone"></i>Tel : (02) 6631-6588</a></li>
							<li><a href="#"><i class="fa fa-envelope-o"></i>select.shop@gmail.com</a></li>
						</ul>
					</div>
				</div>

				<div class="clearfix visible-xs"></div>
					<div class="col-md-3 col-xs-6">
					<div class="footer">
						<h3 class="footer-title">其他服務</h3>
						<ul class="footer-links">
								<li><a asp-area="" asp-controller="Product" asp-action="List">企業專區</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /top footer -->
	<!-- bottom footer -->
	<div id="bottom-footer" class="section">
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-12 text-center">
					<ul class="footer-payments">
					</ul>
					<span class="copyright">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</span>
				</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /bottom footer -->
</footer>
