
<header>
	<!-- TOP HEADER -->
	<div id="top-header">
		<div class="container" style="display: flex; justify-content: space-between;">
	<ul class="header-links pull-left">

		<li (click)="goHome()"><a href="#" style="text-decoration: none;" (click)="goHome()"><i class="bi bi-house" (click)="goHome()"></i>首頁</a></li>
		<li><a href="#" style="text-decoration: none;"><i class="bi bi-controller"></i>本期活動</a></li>
		<li><a href="#" style="text-decoration: none;"><i class="bi bi-hand-thumbs-up-fill"></i>推薦商品</a></li>
		<li><a href="#" style="text-decoration: none;"><i class="bi bi-fire"></i>熱門主題</a></li>
		<li><a routerLink="packages/:id" style="text-decoration: none;"><i class="bi bi-envelope-open"></i>包裝介紹</a></li>
		<li><a href="#" style="text-decoration: none;"><i class="bi bi-arrow-left-right"></i>交換禮物</a></li>
	</ul>
	<ul class="header-links pull-right">
		<li><a href="#" style="text-decoration: none;"><i class="bi bi-person-fill" style="color: aliceblue;"></i>{{memberState}}</a></li>
	</ul>
</div>
	</div>
	<!-- /TOP HEADER -->
	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="#" class="logo" style="display: flex; flex-direction: column; align-items: center;" (click)="goHome()">
							<i class="bi bi-gift-fill" style="color: aliceblue; font-size: 1.3em;"></i>
              <span  style="color: aliceblue;">選物平台</span>
						</a>
					</div>
				</div>
				<!-- /LOGO -->
				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<div class="header-search">
						<form>
							<select class="input-select">
								<option value="0"></option>

							</select>
							<input class="input" id="idinputsearch" placeholder="好物搜尋...">
<button class="search-btn" id="idsearchButton">搜尋</button>
						</form>
					</div>
				</div>
				<!-- /SEARCH BAR -->
				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Wishlist -->
						<div>
							<a href="#" style="text-decoration: none;">
								<i class="bi bi-heart"></i>
								<span>願望清單</span>
								<div class="qty">2</div>
							</a>
						</div>
						<!-- /Wishlist -->
						<!-- Cart -->
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="text-decoration: none;">
								<i class="bi bi-cart3"></i>
								<span>我的購物車</span>
								<div class="qty">3</div>
							</a>

						</div>
						<!-- /Cart -->
						<!-- Menu Toogle -->
						<div class="menu-toggle">
							<a href="#">
								<i class="bi bi-bars"></i>
								<span>Menu</span>
							</a>
						</div>
						<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>
